<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Căutați un loc unde să vă păstrați lucrurile pentru o vreme? Sau căutați o soluție de depozitare permanentă? BoxeDepozitare.ro va ofera contracte de inchiriere pe termen lung sau permanent, la preturi avantajoase.">
    <title>Boxe-Depozitare.ro</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-168214669-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-168214669-1');
    </script>



    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-WN4H59X');</script>
    <!-- End Google Tag Manager -->
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-KP1FYSNRL7');
    </script>

    <meta property="og:url" content="https://www.boxe-depozitare.ro/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="350x Boxe Depozitare de diferinte dimensiuni aflate in interiorul halelor" />
    <meta property="og:description"
        content="Căutați un loc unde să vă păstrați lucrurile pentru o vreme? Sau căutați o soluție de depozitare permanentă? BoxeDepozitare.ro va ofera contracte de inchiriere pe termen lung sau permanent, la preturi avantajoase. " />
    <meta property="og:image" content="https://www.boxe-depozitare.ro/images/facebook-preview.jpg" />
    <meta property="og:locale" content="ro_RO" />
    <meta property="og:site_name" content="boxe-depozitare" />

    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "BreadcrumbList",
          "itemListElement": [{
            "@type": "ListItem",
            "position": 1,
            "name": "boxe-depozitare.ro",
            "item": "https://www.boxe-depozitare.ro/"
          }]
        }
        </script>

    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link href="https://www.boxe-depozitare.ro" rel="canonical" />

    <link rel="preload" href="/fonts/AvenirNextLTPro-Regular.otf" as="font" crossorigin="anonymous">
    <link rel="preload" href="/fonts/AvenirNextLTPro-Bold.otf" as="font" crossorigin="anonymous">
    <link rel="preload" href="/fonts/AvenirNextLTPro-It.otf" as="font" crossorigin="anonymous">
    <link rel="preload" href="/fonts/AvenirNextLTPro-Demi Bold.otf" as="font" crossorigin="anonymous">
    <link rel="preload" href="/fonts/AvenirNextLTPro-Medium.otf" as="font" crossorigin="anonymous">

    <link rel="stylesheet" href="/desktop/stylesheets/partials-12042021.css">
    <link rel="stylesheet" href="/desktop/stylesheets/index-12042021.css">
    <link rel="stylesheet" href="/icons/icons26042021.css">
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WN4H59X" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <%-include('partials/navbar')%>
        <%-include('partials/cookie')%>
            <%-include('partials/formConfirm.ejs')%>
                <main>
                    <section id="one">
                        <div id="offer">
                            <h1>
                                <span class="oneLine"><span class="icon-tick"></span>
                                    <div>350x Boxe diferite in interiorul halei</div>
                                </span>
                                <span class="oneLine"><span class="icon-tick"></span>
                                    <div>Conditii excelente!</div>
                                </span>
                                <span class="oneLine"><span class="icon-tick"></span>
                                    <div>Deschidere din telefon</div>
                                </span>
                            </h1>
                            <p>Aveți nevoie să depozitați mobilă și/sau bunuri pentru o perioadă scurtă sau lungă de
                                timp?</p>

                            <form action="/email" method="POST">
                                <label for="nume_form1">Nume si prenume / name and surname</label>
                                <input required id="nume_form1" type="text" name="nume" placeholder="Nume / Prenume">
                                <label for="tel_form1">numar de telefon / phone number</label>
                                <input required id="tel_form1" type="tel" name="telefon" placeholder="Telefon">
                                <label for="email_form1">email</label>
                                <input required id="email_form1" type="email" name="email" placeholder="Email">
                                <label for="text_form1">Scrie un mesaj / Write a message</label>
                                <textarea id="text_form1" name="mesaj" cols="30" rows="10"
                                    placeholder="Mesaj"></textarea>
                                <button class="action-button">Trimite Comanda</button>

                            </form>
                        </div>

                        <div id="bg-right"></div>
                        <img id="box" src="/images/box_header_shadow.webp"
                            alt="imagine cu o boxa de lemn pentru depozitare">
                    </section>

                    <aside>
                        <img src="/images/phone_non_stop.webp" height="130" width="89.5375"
                            alt="Acces la boxe non stop cu telefonul">
                    </aside>

                    <section id="advantages">
                        <div id="flex" class="container">

                            <div class="item">
                                <span class="icon-shield"></span>
                                <div class="item-text">
                                    <h3>Supraveghere 24/7</h3>
                                    <p>Spațiu păzit și supravegheat video NON-STOP.</p>
                                </div>
                            </div>

                            <div class="item">
                                <span class="icon-box"></span>
                                <div class="item-text">
                                    <h3>Disponibilitate</h3>
                                    <p>Dispunem de 350 boxe, din care 5% mereu libere.</p>
                                </div>
                            </div>

                            <div class="item">
                                <span class="icon-hand_box_white"></span>
                                <div class="item-text">
                                    <h3>Asistență</h3>
                                    <p>Te putem ajuta cu mutarea lucrurilor in depozitele noastre.</p>
                                </div>
                            </div>

                            <div class="item">
                                <span class="icon-umbrella"></span>
                                <div class="item-text">
                                    <h3>Siguranță</h3>
                                    <p>Fara umezeala, mirosuri, diferențe mari de temperatură, etc.</p>
                                </div>
                            </div>

                        </div>
                    </section>


                    <section id="two">
                        <div>
                            <div>
                                <h2>Cine suntem si ce facem?</h2>
                                <p>Cauți un loc unde să vă păstrezi lucrurile pentru o vreme? Sau cauți o soluție de
                                    depozitare în condiții sigure?
                                    <span class="highlight">BoxeDepozitare.ro</span> va ofera contracte de
                                    inchiriere pe
                                    termen scurt sau lung, la cele mai avantajoase preturi. Puteti opta pentru boxe
                                    depozitare de
                                    dimensiuni reduse sau puteti inchiria boxe mai mari in care sa depozitati mobila si
                                    diferite
                                    lucruri personale. Putem chiar oferi și 2 sau mai multe boxe una lângă cealaltă,
                                    fără pereți despărțitori.
                                </p>
                                <p>Vrei să știi cine suntem? <a class="anchor_highlight"
                                        href="https://www.savemob.ro/interviuri/">Click aici</a> ca să ne cunoști mai
                                    bine!
                                </p>
                                <a href="https://api.whatsapp.com/send?phone=+40767676712"><button
                                        class="action-button">Contactează-ne</button></a>
                            </div>

                            <div>
                                <div class="item">
                                    <div class="icon">
                                        <span class="icon-delivery_truck"></span>
                                    </div>
                                    <p>
                                        Ne contactati si estimăm împreună spațiul de depozitare
                                    </p>
                                    <div class="dot">
                                        <div class="dot-core"></div>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="icon">
                                        <span class="icon-support"></span>
                                    </div>
                                    <p>
                                        Aduceti lucrurile sau apelati la serviciul nostru de mutari
                                    </p>
                                    <div class="dot">
                                        <div class="dot-core"></div>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="icon">
                                        <span class="icon-box_lock"></span>
                                    </div>
                                    <p>
                                        Noi depozitam si avem grija ca lucrurile dvs sa fie in siguranta
                                    </p>
                                    <div class="dot">
                                        <div class="dot-core"></div>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="icon">
                                        <span class="icon-hand_box"></span>
                                    </div>
                                    <p>
                                        Va puteti oricand ridica lucrurile sau apelati la serviciul nostru de mutari
                                    </p>
                                    <div class="dot">
                                        <div class="dot-core"></div>
                                    </div>
                                </div>



                            </div>
                        </div>

                        <div class="lines">
                            <div class="hide">
                                <div class="active"></div>
                            </div>
                            <div class="disabled"></div>
                        </div>

                    </section>

                    <section id="three">
                        <h4>
                            Flexibilitate maximă
                        </h4>
                        <div id="description">
                            <p> Oferim soluții de stocare la cerere, cu servicii complete. Optional, putem prelua
                                articolele pe care doriți să le stocați și să vi le livrăm înapoi atunci când aveți
                                nevoie de ele. </p>
                            <p>Va oferim duba gratuit pentru achizitia celui mai mic pachet, respectiv 2 angajati x 4
                                ore x 50 lei = 400 lei. Pentru un volum mai mare de obiecte de mutat in boxa putem
                                suplimenta echipa cu personal specializat</p>
                            <p>Activitatile prestate sunt: demontare-montare orice tip de mobilier, impachetare,
                                transport, protectie cu folie</p>
                            <p>Dacă preferați să aduceți singuri articolele la depozitul nostru - nicio problemă!
                                Locatiile noastre sunt ușor accesibile cu mașina. Puteți parca și descărca mașina
                                gratuit în parcările noastre. În plus, este ușor de accesat cu mijloacele de transport
                                în comun sau chiar cu TIR-ul.</p>
                            <p class="highlight">Acces NON STOP din telefon!</p>
                        </div>
                    </section>

                    <section id="car-animation">
                        <div class="dots">

                            <div>
                                <div class="dot">
                                    <div class="dot-core"></div>
                                </div>
                                <p>Electronice</p>
                            </div>

                            <div>
                                <div class="dot">
                                    <div class="dot-core"></div>
                                </div>
                                <p>Arhivă</p>
                            </div>

                            <div>
                                <div class="dot">
                                    <div class="dot-core"></div>
                                </div>
                                <p>Electrocasnice</p>
                            </div>

                            <div>
                                <div class="dot">
                                    <div class="dot-core"></div>
                                </div>
                                <p>Lucruri personale</p>
                            </div>

                            <div>
                                <div class="dot">
                                    <div class="dot-core"></div>
                                </div>
                                <p>Haine</p>
                            </div>

                            <div>
                                <div class="dot">
                                    <div class="dot-core"></div>
                                </div>
                                <p>Mobilier</p>
                            </div>

                            <div>
                                <div class="dot">
                                    <div><span class="icon-x_mark"></span></div>
                                </div>
                                <p>Substanțe interzise, produse alimentare, plante vii</p>
                            </div>
                        </div>

                        <div id="moveable-car"></div>

                        <div class="lines">
                            <div class="hide">
                                <div class="active"></div>
                            </div>
                            <div class="disabled"></div>
                        </div>
                    </section>


                    <section id="four">
                        <div class="container">
                            <h4>Boxele de depozitare în care puteți avea încredere!</h4>
                            <p>Clientii nostri sunt atat persoane fizice si persoane juridice in
                                cautarea unor
                                spatii de depozitat care sa le ofere in primul rand siguranta obiectelor lasate in
                                grija
                                noastra.
                            </p>
                            <div class="grid">

                                <div class="cell">
                                    <div class="content">
                                        <span class="icon-pn"></span>
                                        <p>Ușor de ajuns, Sector 6, lângă metrou Păcii</p>
                                    </div>
                                </div>

                                <div class="cell">
                                    <div class="content">
                                        <span class="icon-fire_protection"></span>
                                        <p>Boxele sunt special amenajate din lemn ignifug, iar jos avem beton+nisip,
                                            apoi OSB.
                                            Nu
                                            există umezeală</p>
                                    </div>
                                </div>

                                <div class="cell">
                                    <div class="content">
                                        <span class="icon-hours"></span>
                                        <p>Acces 24/7 in incintele noastre securizate unde doar tu ai cheia de la
                                            boxa
                                            inchiriată.</p>
                                    </div>
                                </div>

                                <div class="cell">
                                    <div class="content">
                                        <span class="icon-clock"></span>
                                        <p>Posibilitatea vizionarii depozitului oricând doriți Dvs.</p>
                                    </div>
                                </div>

                                <div class="cell">
                                    <div class="content">
                                        <span class="icon-like"></span>
                                        <p>Condiții foarte bune de păstrare a celor mai sensibile bunuri!</p>
                                    </div>
                                </div>

                                <div class="cell">
                                    <div class="content">
                                        <span class="icon-tools"></span>
                                        <p>Administrăm un atelier de restaurare mobila de arta pe care o depozitam in
                                            boxe.</p>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div id="pickup-track">
                            <div class="pickup">
                                <div class="line"></div>
                                <div class="car"></div>
                            </div>
                            <p>Încă nu v-am convins să va depozitați lucrurile în boxele noastre?</p>
                            <a href="https://api.whatsapp.com/send?phone=+40767676712"><button
                                    class="action-button">Contactează-ne</button></a>
                        </div>

                    </section>


                    <section id="five">
                        <div class="content">
                            <div class="flex-left">
                                <h4>De ce peste 1500 clienti ne-au ales pe noi?</h4>
                                <p>Oferim boxe curate si uscate in care iti poti depozita, in deplina siguranta, pe
                                    termen scurt sau lung, bunurile personale din locuinta, firma, restaurant, cafenea,
                                    bar, atelier, service, cabinet medical, magazin, etc. </p>
                                <p>
                                <ul>
                                    <li>Oferim o gama variata de boxe in functie de nevoi. </li>
                                    <li>Acest serviciu de inchiriere spatii depozitare in sector 6, Bucuresti oferit de
                                        firma noastra face parte din grupul de firme administrate de noi, respectiv
                                        atelier de restaurare mobila de arta si mutari mobilier cu zeci de mii de client
                                        in portofoliu. In tot acesta perioada am depozitat de la cele mai fragile
                                        obiecte de patrimoniu cultural pana la utilaje profesionale.</li>
                                    <li>In prezent avem peste 250 clienti si zilnic vin client noi.</li>
                                    <li>La cererea clientului putem oferi si acces la camerele de supraveghere cu user
                                        si parola.</li>
                                    <li>Contractul se poate rezilia la cererea clientului chiar si cu 1 ora inainte de
                                        a-si ridica lucrurile.</li>
                                    <li>Procedura de inchiriere depozit este simpla si rapida astfel incat vei putea
                                        utiliza imediat spatiul.</li>
                                </ul>
                                </p>
                                <a href="https://api.whatsapp.com/send?phone=+40767676712"><button
                                        class="action-button">Contactează-ne</button></a>
                            </div>

                            <div class="flex-right">

                                <div class="item">
                                    <span class="icon-hand_key"></span>
                                    <div>
                                        <h3>Închiriere simplă și rapidă</h3>
                                        <p>Contractare online, plata cu cardul sau OP. Perioada minimă de
                                            închiriere este de la o singură zi, la cât doriți dvs.</p>
                                    </div>
                                </div>

                                <div class="item">
                                    <span class="icon-camera"></span>
                                    <div>
                                        <h3>Sisteme de monitorizare moderne</h3>
                                        <p>Incinte monitorizate video 24/7</p>
                                    </div>
                                </div>

                                <div class="item">
                                    <span class="icon-pn"></span>
                                    <div>
                                        <h3>Locații accesibile</h3>
                                        <p>Depozitele noastre sunt amplasate în Sector 6, zona metrou Păcii</p>
                                    </div>
                                </div>

                                <div class="item">
                                    <span class="icon-delivery_truck"></span>
                                    <div>
                                        <h3>Asigurăm transport</h3>
                                        <p>Te putem ajută cu servicii de transport, demontare și împachetare a bunurilor
                                            tale în
                                            depozitele noastre.</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </section>

                    <section id="discount">
                        <div>
                            <p>Primește <span class="highlight">5% reducere</span> la plata pentru 6 luni în avans!</p>
                            <p>Primește <span class="highlight">10% reducere</span> la plata pentru 12 luni în avans!
                            </p>
                        </div>

                        <div class="graphics">
                            <div class="beforeFive"></div>
                            <div class="afterFive"></div>
                            <div class="beforeTen"></div>
                            <div class="afterTen"></div>

                            <div class="fivePercent">
                                <div class="wrap"><img src="/images/5percent.webp"
                                        alt="Primește 5% reducere la plata pentru 6 luni în avans!" width="123.375"
                                        height="84">
                                </div>
                            </div>

                            <div class="tenPercent">
                                <div class="wrap"><img src="/images/10percent.webp"
                                        alt="Primește 10% reducere la plata pentru 12 luni în avans!" width="182.422"
                                        height="104">
                                </div>
                            </div>

                        </div>

                    </section>

                    <section id="seven">
                        <div class="container">
                            <div>
                                <h4>Sfaturi și sugestii</h4>
                                <a href="/sfaturi">Mai multe</a>
                                <div id="article-nav">
                                    <span class="icon-arrow" onClick="bindPrevArticle()"></span>
                                    <span class="icon-arrow" onclick="bindNextArticle()"></span>
                                </div>
                            </div>
                        </div>
                        <div id="slideshow">
                            <%let articles=data.articles%>
                                <%for(let i=0;i<articles.length;i++){%>
                                    <%let continut=JSON.parse(articles[i].continut)%>
                                        <%if(i!=0){%>
                                            <div class="content">
                                                <%}else{%>
                                                    <div class="content visible">
                                                        <%}%>
                                                            <div class="text">
                                                                <div class="hide">
                                                                    <%=i%>
                                                                </div>
                                                                <h5>
                                                                    <%=continut.div[0].h2%>
                                                                </h5>
                                                                <p>
                                                                    <%=continut.div[0].p%>
                                                                </p>
                                                                <p>
                                                                    <%=continut.div[1].p%>
                                                                </p>
                                                                <a href="/sfaturi/<%=articles[i].id2%>">Citește mai
                                                                    mult</a>
                                                            </div>

                                                            <div class="image">
                                                                <img src="/<%=articles[i].imagine%>"
                                                                    alt="poză cu cutii de depozitare, articol"
                                                                    width="320" height="320">
                                                            </div>
                                                    </div>
                                                    <%}%>

                                            </div>
                    </section>

                </main>

                <%-include('partials/footer')%>
                    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
                    <script src="/desktop/scripts/index-15012021.js"></script>
                    <script src="/desktop/scripts/partials-15012021.js"></script>
</body>

</html>