<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Căutați un loc unde să vă păstrați lucrurile pentru o vreme? Sau căutați o soluție de depozitare permanentă? BoxeDepozitare.ro va ofera contracte de inchiriere pe termen lung sau permanent, la preturi avantajoase.">
    <title>Boxe-Depozitare.ro</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-168214669-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-168214669-1');
    </script>

    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-WN4H59X');</script>
    <!-- End Google Tag Manager -->
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-KP1FYSNRL7');
    </script>

    <meta property="og:url" content="https://www.boxe-depozitare.ro/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="350x Boxe Depozitare de diferinte dimensiuni aflate in interiorul halelor" />
    <meta property="og:description"
        content="Căutați un loc unde să vă păstrați lucrurile pentru o vreme? Sau căutați o soluție de depozitare permanentă? BoxeDepozitare.ro va ofera contracte de inchiriere pe termen lung sau permanent, la preturi avantajoase. " />
    <meta property="og:image" content="https://www.boxe-depozitare.ro/images/facebook-preview.jpg" />
    <meta property="og:locale" content="ro_RO" />
    <meta property="og:site_name" content="boxe-depozitare" />

    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "BreadcrumbList",
          "itemListElement": [{
            "@type": "ListItem",
            "position": 1,
            "name": "boxe-depozitare.ro",
            "item": "https://www.boxe-depozitare.ro/"
          },{
            "@type": "ListItem",
            "position": 2,
            "name": "contact",
            "item": "https://www.boxe-depozitare.ro/contact"
          }]
        }
    </script>

    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link href="https://www.boxe-depozitare.ro/contact" rel="canonical" />

    <link rel="preload" href="/fonts/AvenirNextLTPro-Regular.otf" as="font" crossorigin="anonymous">
    <link rel="preload" href="/fonts/AvenirNextLTPro-Bold.otf" as="font" crossorigin="anonymous">
    <link rel="preload" href="/fonts/AvenirNextLTPro-It.otf" as="font" crossorigin="anonymous">
    <link rel="preload" href="/fonts/AvenirNextLTPro-Demi Bold.otf" as="font" crossorigin="anonymous">
    <link rel="preload" href="/fonts/AvenirNextLTPro-Medium.otf" as="font" crossorigin="anonymous">


    <link rel="stylesheet" href="/icons/icons26042021.css">
    <link rel="stylesheet" href="/mobile/stylesheets/partials-30012022.css">
    <link rel="stylesheet" href="/mobile/stylesheets/contact-12042021.css">
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WN4H59X" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <%-include('partials/navbar')%>
        <%-include('partials/cookie')%>
            <%-include('partials/formConfirm.ejs')%>

                <main>
                    <section id="map">
                        <div>
                            <a href="/" title="Acasa">Acasa</a>
                            <span class="icon-arrow"></span>
                            <p>Contact</p>
                        </div>
                    </section>

                    <section id="one">
                        <div>
                            <h1>Trimite o cerere!</h1>
                            <h2>Vrem să vă ajutăm în cel mai bun mod posibil.</h2>
                            <form action="/email" method="POST">

                                <label for="contact_nume">Nume si prenume / Name and surname</label>
                                <input required id="contact_nume" type="text" name="nume" placeholder="Nume / Prenume">

                                <label for="contact_tel">Telefon / Phone number</label>
                                <input required id="contact_tel" type="tel" name="telefon" placeholder="Telefon">

                                <label for="contact_email">Email</label>
                                <input required id="contact_email" type="email" name="email" placeholder="Email">

                                <label for="contact_txt">Scrieti un mesaj / Write a text message</label>
                                <textarea id="contact_txt" name="mesaj" cols="30" rows="10"
                                    placeholder="Mesaj"></textarea>

                                <label for="contact_gdpr">Checkbox: Sunt de acord cu prelucrarea datelor personale
                                    (GDPR) /
                                    I agree with the processing of personal data (GDPR)</label>
                                <label class="checkbox-container">
                                    <input required type="checkbox" name="gdpr" id="contact_gdpr">
                                    <span class="checkmark"></span>
                                    Sunt de acord cu prelucrarea datelor personale (GDPR)
                                </label>
                                <button class="action-button">Trimite</button>
                            </form>
                        </div>
                    </section>
                    <section id="two">

                        <div class="data">
                            <h3>Birou L-V: 08:00 - 16:00</h3>
                            <div><span class="icon-pn"></span>
                                <p>bd. Timisoara, nr. 104E, Sector 6, Bucuresti</p>
                            </div>
                            <div><span class="icon-envelope"></span>
                                <p>boxedepozitare@gmail.com</p>
                            </div>
                        </div>

                        <div class="data">
                            <h3>Persoane de contact:</h3>
                            <div><span class="icon-man_1"></span>
                                <p><span class="emphasise">Mihai Save</span>0767676712 - Administrator</p>
                            </div>
                            <div><span class="icon-man_2"></span>
                                <p><span class="emphasise">Doru Iamandi</span>0721332618 - Business Partener</p>
                            </div>
                        </div>

                        <div class="data">
                            <h3>Amplasare depozite:</h3>
                            <div><span class="special-highlight icon-pn"></span>
                                <div>
                                    <p><span class="emphasise">Hala 1,2,3,4</span>Str. Oboga, nr. 15 , Sector 6,
                                        Bucuresti</p>
                                    <div class="directions">
                                        <p>
                                            Directii Waze: <a
                                                href="https://www.waze.com/ul?q=SaveMob%20-%20Restaurare%20Mobila">CLICK
                                                AICI</a>
                                        </p>
                                        <p>
                                            Directii Google Maps: <a
                                                href="https://www.google.com/maps?q=SaveMob%20-%20Restaurare%20Mobila">CLICK
                                                AICI</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div><span class="icon-pn"></span>
                                <div>
                                    <p><span class="emphasise">Birou, hala 5, hala 6</span>Bd. Timisoara, Nr. 104E,
                                        (lângă CET
                                        VEST),
                                        Sector 6, Bucuresti</p>
                                    <div class="directions">
                                        <p>
                                            Directii Waze: <a
                                                href="https://www.waze.com/ul?q=SaveMob%20-%20Restaurare%20Mobila">CLICK
                                                AICI</a>
                                        </p>
                                        <p>
                                            Directii Google Maps: <a
                                                href="https://www.google.com/maps?q=SaveMob%20-%20Restaurare%20Mobila">CLICK
                                                AICI</a>
                                        </p>
                                    </div>
                                </div>


                            </div>
                        </div>

                    </section>
                    <section id="three">
                        <div id="google-map">
                        </div>
                        <div id="map-subtitle" class="container">*La 500 m de metrou Pacii</div>
                    </section>

                    </section>

                </main>

                <%-include('partials/footer')%>

                    <script
                        src="https://maps.googleapis.com/maps/api/js?key=<%=mapConfig.apiKey%>&map_ids=<%=mapConfig.mapId%>">
                        </script>
                    <script src="/mobile/scripts/partials-25042021.js"></script>
                    <script src="/mobile/scripts/contact-25022021.js"></script>
</body>

</html>